* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {

  box-sizing: inherit;

}

.main-container,
.label-one,
.label-two,
.label-three,
.for-button {

  position: relative;

}

.main-container,
.container,
.deck,
.content ,
.for-button,
.main-content {

  display: flex;

}

.main-container {

  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  top: 3rem;
  font-size: 62.5%;
  letter-spacing: 1.5px;
  text-align: center;
  justify-content: center;

}

.container {

  border: 7px solid #000000;
  align-items: center;
  flex-direction: column;
  background-color: #ffcc00;
  height: 33rem;
  width: 40%;

}

.ul {

  list-style: none;

}

.card,
.reset-btn {

  cursor: pointer;

}

.btn {

  border: none;
  color: #fff;
  padding: 0;

}

/*----------------------------------  
Header
------------------------------------*/

.score-panel {

  font-size: 1.4em;
  padding: 10px 0 20px;

}

.timer-container {

  background: #fff;
  border-radius: 0;
  color: #000;
  margin: 10px;
  padding: 10px;
  border: 1px solid #000000;

}

.timer {

  font-size: 1em;

}

/*----------------------------------  


  /*----------------------------------  
Deck of Cards
------------------------------------*/

.deck {

  background: none;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 18rem;
  padding: 5px;
  width: 76%;

}

.card ,
.img,
.match .img,
.btn {

  height: 4rem;

}

.card {

  background: url("front.png") no-repeat;
  background-size: 65px 65px;
  width: 16%;

}

.img {

  user-select: none;
  width: 100%;
  z-index: 1;

}

.deck .img {

  visibility: hidden;

}

.deck .card.flip {

  background: #ffff;
  cursor: default;
  transform: rotateY(180deg);
  transition: transform 0.3s linear;
  pointer-events: none;

}

.flip .img {

  background: #fff;
  visibility: visible;

}

.deck .card.match {

  visibility: visible;
  cursor: default;
  animation: pulse 3s;

}

.match .img {
  
  background: #39d;
  width: 100%;

}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.content {

  flex-direction: column;
  height: 7rem;
  width: 43%;
  font-size: 15px;
  margin-left: 5px;
  line-height: 35px;
  border: 1px solid #bfbfbf;

}

.container-two {

  border-bottom: 2px solid #bfbfbf;
  padding: 0;
  display: inline-flex;

}

.radio-one,
.radio-two,
.radio-three {

  margin-top: 12.5px;
  margin-left: 5px;

}

.label-two,
.label-three {

  left: 0.7rem;
  top: 0rem;

}

.label-one {

  bottom: 0.6px;
  left: 0.7rem;

}

.for-button {

  left: 28%;
  width: 40%;
  height: 7rem;
  flex-direction: column;
  padding-left: 20px;

}

.btn {

  margin-bottom: 10px;
  width: 64%;
  color: #000000;
  border: 1.5px solid #bfbfbf;

}

.btn:disabled {

  background: #f2f2f2;

}

.main-content {

  flex-direction: row;
  justify-content: start;
  height: 8rem;
  width: 75%;
  margin-left: 25px;
  margin-right: 30px;

}

@media screen and (max-width: 1365px) and (min-width: 568px) {

  .container {

    width: 91vh;
    height: 91vh;

  }

  .deck {

    width: 76%;

  }

  .content {

    margin-left: 5px;

  }
}

@media screen and (max-width: 2500px) and (min-width: 1367px) {

  .container {

    width: 100vh;
    height: 100vh;

  }

  .deck {

    width: 76%;

  }

  .content {

    margin-left: 5px;

  }
}

@media screen and (max-width: 567px) and (min-width: 0) {
  
  .container {

    width: 100vh;
    height: 100vh;

  }

  .deck {
    
    width: 76%;
  }

  .content {

    margin-left: 5px;

  }
}
